body{
  background-image: url(./images/login.jpg);
  background-size: cover;
}
.container{
  background-color: aliceblue;
  width: 40%;
  height: 100%;
  border-radius: 2rem;
  margin: auto;
  align-items: center;
  margin-top: 150px;
}
